*{
    box-sizing: border-box;
}

.Righteous{
    font-family: 'Righteous', cursive;
}

.Roboto{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #E5E5E5;
}

header{
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 3px 3px #979696);
    position: fixed;
    width: 100%;
    z-index: 1;
}

header h1, header h2{
    margin-left: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

header h1{
    font-weight: 400;
    font-size: 44px;
    margin-top: 18px;
}

header h2{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 18px;
}

main{
    padding-top: 123px;
}

main h3{
    font-weight: 400;
    padding-left: 21px;
    font-size: 26px;
}

.opcoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 27px;
    padding-left: 19px;
    padding-right: 19px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    filter: drop-shadow(2px 2px 3px #979696);
}

.opcoes::-webkit-scrollbar{
    display: none;
}

.opcoes div{
    height: 216px;
    width: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    margin-right: 16px;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
}

ion-icon{
    font-size: 20px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: transparent;
}

.opcoes div img, .opcoes div p{
    width: 144px;
    margin-left: 14px;
    margin-right: 14px;
}

.opcoes div img{
    margin-top: 18px;
    height: 87px;
    object-fit: cover;
    border-radius: 4px;
}

.opcoes div p:nth-child(2){
    color: #333333;
    font-weight: 700;
    font-size: 16px;
}

.opcoes div p:nth-child(3){
    color: #a6a6a6;
    font-weight: 300;
    font-size: 15px;
    line-height: 17.58px;
}

.opcoes div p:nth-child(4){
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 13px;
}

.fix1{
    margin-bottom: 78px;
}

footer{
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer button{
    width: 364px;
    height: 61px;
    margin: auto auto;
    background-color: #CBCBCB;
    border-radius: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    border: none;
}

footer button p{
    width: 200px;
    color: #ffffff;
}

.bordaVerde{
    box-shadow: inset 0 0 0 5px #32b72f;
}

.checkVerde{
    color: #32b72f;
}

.backgroundVerdeClicavel{
    background-color: #32b72f;
    cursor: pointer;
}

.escondido{
    display: none;
}

.whiteCover{
    z-index: 2;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left:0;
    opacity: 0.9;
}

.fix2{
    background-color: #50D074;
    width: 377px;
    height: 353px;
    border-radius: 9px;
    z-index: 3;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 25px;

    filter: drop-shadow(4px 4px 3px #979696);
}

.confirmePedido{
    font-weight: 700;
    font-size: 22px;
}

.item1, .item2, .item3{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    font-weight: 400;
    font-size: 22px;
}

.total{
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    font-weight: 700;
    font-size: 22px;
}

.tudoCerto{
    font-weight: 700;
    font-size: 22px;
    color: #50D074;
    background-color: #ffffff;
    width: 329px;
    height: 52px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cancelar{
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}



